@model AbacusApp3.Models.Lokalizacja

@{
    ViewData["Title"] = "Edit";
}

<h2>Lokalizacja</h2>

<h4>Edycja danych</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LokalizacjaId" />
            <div class="d-flex flex-wrap flex-row">
                <div class="form-group">
                    <label asp-for="NazwaLok" class="control-label"></label>
                    <input asp-for="NazwaLok" class="form-control" />
                    <span asp-validation-for="NazwaLok" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Ulica" class="control-label"></label>
                    <input asp-for="Ulica" class="form-control" />
                    <span asp-validation-for="Ulica" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NrDomu" class="control-label"></label>
                    <input asp-for="NrDomu" class="form-control" />
                    <span asp-validation-for="NrDomu" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NrLokalu" class="control-label"></label>
                    <input asp-for="NrLokalu" class="form-control" />
                    <span asp-validation-for="NrLokalu" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="KodPocztowy" class="control-label"></label>
                    <input asp-for="KodPocztowy" class="form-control" />
                    <span asp-validation-for="KodPocztowy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Miejscowosc" class="control-label"></label>
                    <input asp-for="Miejscowosc" class="form-control" />
                    <span asp-validation-for="Miejscowosc" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
