
@model Ksiegowanie
    
    <h1>Tutaj jestem</h1>

        <thead>
            <tr>
 
                <th>
                    @Html.DisplayNameFor(model => model.Lokalizacja)
                </th>
                <th>
                    Różnica
                </th>
                <th>
                Stastus
                </th>
            </tr>
        </thead>


